.dialog {
    &Form {
        display: flex;
        flex-direction: column;

        .formControl {
            margin-bottom: 16px;
        }

        .label {
            margin-bottom: 6px;
        }

    }
}