.dialog {
    &Form {
        display: flex;
        flex-direction: column;

        .formControl {
            margin-bottom: 16px;
        }

        .label {
            margin-bottom: 6px;
        }

        .formMainData {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &Item {
                flex-basis: 48%;
            }
        }

        .formMainDataSmall {
            display: flex;
            justify-content: space-between;

            &Item {
                flex: 1;

                &:nth-child(n+2) {
                    margin-left: 12px;
                }
            }
        }
    }
}
