$marginTop: 64px;

.mainlayout {
    background-color: var(--bgColor);

    .heading {
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
        background-color: var(--bgColor);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9;
    }

    .body {
        margin-top: $marginTop;
        display: flex;

        .content {
            margin-left: var(--marginLeft);
            width: 100%;
            background-color: var(--bgColor);
            min-height: calc(100vh - $marginTop);
            max-width: calc(100% - var(--marginLeft));

            &Main {
                padding: 20px 24px;
            }

            .footer {
                text-align: center;
                font-size: .9rem;
                padding: 20px 0;
                border-top: 1px solid var(--borderColor);
            }
        }
    }

    .footerLink {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
        background-color: var(--bgColor);
        padding: 12px 0;

        &Item {
            text-align: center;
            color: var(--textColor);
            width: 100%;
        }

        .active {
            color: var(--blueLightColor);
        }
    }

}

.activeLink {
    color: white;
    background: var(--blueColor);
    padding: 4px;
    border-radius: 4px;
}

@media (max-width:740px) {
    .mainlayout {

        .body {
            .content {
                margin-left: 0;
                max-width: 100vw;
                min-height: calc(100vh - $marginTop);

                &Main {
                    padding: 12px;
                }
            }
        }

        .footerLink {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}